# Ignorar todos los archivos compilados de Java
*.class

# Ignorar ejecutables y archivos temporales
*.jar
*.war
*.ear

# Ignorar IDEs y entornos comunes
/.idea/
/.vscode/
/target/
/bin/
/out/

# Ignorar archivos de compilación
*.log
*.tmp
*.swp

# Mantener solo los archivos fuente .java
!*.java