# Evitar archivos de objeto y ejecutables
*.o
*.obj
*.exe
*.out
*.a
*.lib
*.so
*.dll

# Archivos de depuración y compilación
*.d
*.lo
*.la

# Directorios de compilación
/build/
/bin/
/Debug/
/Release/

# Archivos de proyectos de IDEs
*.vcxproj
*.vcxproj.user
*.vcxproj.filters
*.cbp
*.code-workspace

# Otros archivos generados automáticamente
*.log
*.cache
